@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');

@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kurale&family=RocknRoll+One&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  /* font-family: "Grechen Fuemen", serif; */
  /* font-family: "RocknRoll One", sans-serif; */
  font-family: "Kurale", serif;


  /* font-optical-sizing: auto; */

  font-weight: 400;
  font-style: normal;

  font-weight: 400;
  font-style: normal;
  
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}


.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}







/* Custom scrollbar with gradient */
.custom-scrollbar::-webkit-scrollbar {
  width: 3px; /* Set width of scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #4c6ef5, #3f8fef); /* Gradient colors */
  border-radius: 5px; /* Round the scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #6f90f9, #56a7f5); /* Lighter gradient on hover */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Light track background */
  border-radius: 5px;
}