@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');

@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kurale&family=RocknRoll+One&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  /* font-family: "Grechen Fuemen", serif; */
  /* font-family: "RocknRoll One", sans-serif; */
  font-family: "Kurale", serif;


  /* font-optical-sizing: auto; */

  font-weight: 400;
  font-style: normal;

  font-weight: 400;
  font-style: normal;
  
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}


.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}







/* ============ LOADING ANIMAtION ========== */
 
.box {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 2px solid black;
  /* background-color: #3498db; */
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1); /* Bouncy animation */
  animation-fill-mode: both;
}

.first {
animation: moveUp1 2s 0s infinite;
/* animation-name: moveUp1; */
/* animation-delay: 0s; */
}

.second {
animation: moveUp2 2s 0.2s infinite;
}

.third {
animation: moveUp3 2s 0.4s infinite;
}

@keyframes moveUp1 {
  0%, 100% {
  transform: translateY(0);
  }
  50% {
  transform: translateY(-100px);
  }
}

@keyframes moveUp2 {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-100px);
  }
}

@keyframes moveUp3 {
0%, 100% {
  transform: translateY(0);
}
50% {
  transform: translateY(-100px);
}
}
 /* ====== LOADING ANIMATION ======= */





/* ======= Custom scrollbar with gradient ======= */
.custom-scrollbar::-webkit-scrollbar {
  width: 3px; /* Set width of scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #4c6ef5, #3f8fef); /* Gradient colors */
  border-radius: 5px; /* Round the scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #6f90f9, #56a7f5); /* Lighter gradient on hover */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Light track background */
  border-radius: 5px;
}